.img_tam{
    width: 10%;
}
.value-minus,
.value-plus{
    height: 40px;
    line-height: 24px;
    width: 40px;
    margin-right: 3px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    color: #fff;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
	border:1px solid #b2b2b2;
	    vertical-align: bottom;
}
.quantity-select .entry.value-minus:before,
.quantity-select .entry.value-plus:before{
	content: ""; 
	width: 13px;
	height: 2px; 
	background: #000;
	left: 50%;
	margin-left: -7px; 
	top: 50%;
	margin-top: -0.5px;
	position: absolute;
}
.quantity-select .entry.value-plus:after{
	content: "";
	height: 13px;
	width: 2px; 
	background: #000;
	left: 50%; 
	margin-left: -1.4px;
    top: 50%;
    margin-top: -6.2px;
	position: absolute;
}
.value  {
    cursor: default;
    width: 40px;
	height:40px;
    padding: 8px 0px;
    color: #A9A9A9;
    line-height: 24px;
    border: 1px solid #E5E5E5;
    background-color: #E5E5E5;
    text-align: center;
    display: inline-block;
	margin-right: 3px;
}
.quantity-select .entry.value-minus:hover,
 .quantity-select .entry.value-plus:hover{
	background: #E5E5E5;
}

.quantity-select .entry.value-minus{
    margin-left: 0;
}
	.close1, .close2, .close3 {
		right: 190px;
		top: -4px;
    }
    .close1,.close2,.close3 {
    background: url('../img/close_1.png') no-repeat 0px 0px;
    cursor: pointer;
    width: 28px;
    height: 28px;
}
.checkout-left {
    margin: 2em 0 15em;
}
.checkout-left-basket ul li{
	list-style-type:none;
	margin-bottom:1em;
	font-size:14px;
	color:black;
}
.checkout-left-basket {
    float: left;
    width: 25%;
}
.checkout-left-basket ul li span {
    float: right;
}
.checkout-left-basket ul li:nth-child(5) {
    font-size: 1em;
    color: #212121;
    font-weight: 600;
    padding: 1em 0;
    border-top: 1px solid black;
	border-bottom: 1px solid black;
    margin: 2em 0 0;
}
.checkout-left button{
    margin-left: 160px;
}
.checkout-right-basket a{
	padding:10px 30px;
	color:#fff;
	font-size:1em;
	background:#212121;
	text-decoration:none;
}
.checkout-right-basket a:hover{
	background:#D8703F;
}
.checkout-right-basket a span {
    left: -.5em;
    top: 0.1em;
}
.checkout-right-basket{
	float: right;
    margin: 8em 0 0 0em;
}

@media screen and (max-width: 720px){

/*.checkout{
    width: 80%;
}
.container thead{
    width: 400px;
}
.navbar{
    width: 76%;
}*/
body{
   max-width: 100%;
   overflow-x: hidden;
    /*font-size: 1.5em;*/
}
.table{
    max-width: 80% !important;
}

}
@media screen and (max-width: 412px){
body{
    max-width: 100%;
    overflow-x: hidden;
}
table{
    max-width: 40% !important;
}
}



